*{
    margin: 0;
    padding: 0;
}

.main-section{
    background-color: rgba(18, 63, 108, 1);
    position: relative;
	display: flex;
	flex-direction: column;
    top: 45%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    border-radius: 10px;
	z-index: -1;
}