* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.main-frame{
    background-color: rgba(18, 63, 108, 1);
    position: relative;
	display: flex;
	flex-direction: column;
    top: 45%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80vh;
    border-radius: 10px;
	z-index: -1;
}
.text-area{
	height: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	gap: 1rem;
}

.text-area p{
	font-size: 2rem;
	color: aliceblue;
}

.user-logo-area{
	display: flex;
	height: 25%;
	align-items: center;
	justify-content: center;
}

.user-logo-area img{
	width: 20%;
}

/* CSS */
#get-location-btn {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#get-location-btn::after,
#get-location-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

#get-location-btn::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: rgba(16, 39, 62, 1);
  border-radius: 10px;
}

#get-location-btn::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

#get-location-btn:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

#get-location-btn:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

#get-location-btn:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

#get-curr-location {
	display: inline-block;
	transition: all 0.2s ease-in;
	position: relative;
	overflow: hidden;
	z-index: 1;
	color: #090909;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.5em;
	background: #e8e8e8;
	border: 1px solid #e8e8e8;
  }
  
  #get-curr-location:active {
	color: #666;
	box-shadow: inset 4px 4px 12px #c5c5c5,
			   inset -4px -4px 12px #ffffff;
  }
  
  #get-curr-location:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(1) scaleX(1.25);
	top: 100%;
	width: 140%;
	height: 180%;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
  }
  
  #get-curr-location:after {
	content: "";
	position: absolute;
	left: 55%;
	transform: translateX(-50%) scaleY(1) scaleX(1.45);
	top: 180%;
	width: 160%;
	height: 190%;
	background-color: rgba(16, 39, 62, 1);
	border-radius: 50%;
	display: block;
	transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
	z-index: -1;
  }
  
  #get-curr-location:hover {
	color: #ffffff;
	border: 1px solid rgba(16, 39, 62, 1);
  }
  
  #get-curr-location:hover:before {
	top: -35%;
	background-color: rgba(16, 39, 62, 1);
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  #get-curr-location:hover:after {
	top: -45%;
	background-color: rgba(16, 39, 62, 1);
	transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }  


.location-input-area {
	display: flex;
	height: 50%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

#locationInput{
	box-shadow: inset #abacaf 0 0 0 2px;
	border: 0;
	background: rgba(0, 0, 0, 0);
	appearance: none;
	width: 100%;
	position: relative;
	border-radius: 3px;
	padding: 9px 12px;
	line-height: 1.4;
	color: aliceblue;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
	transition: all .2s ease;
}

#locationInput:hover{
	box-shadow: 0 0 0 0 #fff inset, rgba(16, 39, 62, 1) 0 0 0 3px;
}
#locationInput:focus{
	/* background: #fff; */
	outline: 0;
	box-shadow: 0 0 0 0 #fff inset, rgba(16, 39, 62, 1) 0 0 0 4px;
}


/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
	.user-logo-area img{
		width: 40%;
	}
	#get-location-btn::before {
		transform: translate(0%, 0%);
		width: 100%;
		height: 100%;
		background: rgba(18, 63, 108, 1);
		border-radius: 10px;
	}
	#get-curr-location:hover {
		border: 1px solid rgba(18, 63, 108, 1);
	}
	  
	#get-curr-location:hover:before {
		background-color: rgba(18, 63, 108, 1);
	}
	  
	#get-curr-location:hover:after {
		background-color: rgba(18, 63, 108, 1);
	}  
	
	#locationInput:hover{
		box-shadow: 0 0 0 0 #fff inset, rgba(18, 63, 108, 1) 0 0 0 3px;
	}
	#locationInput:focus{
		/* background: #fff; */
		outline: 0;
		box-shadow: 0 0 0 0 #fff inset, rgba(18, 63, 108, 1) 0 0 0 4px;
	}
}